.navbar-brand {
  color: lightblue;
  font-weight: bold;
}
.navbar-nav,
.nav-link,
.nav-item,
.dropdown,
.dropdown-menu,
.dropdown-item,
#navbarNavDropdown {
  color: lightblue;
}

.navbar-nav .nav-link:hover {
  background-color: #f8f9fa;
  font-weight: bold;
}
